.intro-header {
    padding-top: 25%;
    color: #FFFFFF;   
    font-weight: bold;
    text-align: left;
    margin-bottom: 0px;

}

.intro-subheader {
    margin-top: 10px;
    color: #FFFFFF90;
    font-weight: bold;
    text-align: left;
}
