:root {
    --blue-gray: #405c78;
}

.card-header.blue-gray-bg {
    background-color: var(--blue-gray);
    color: white;
}

.img {
    width:90px;
    height:90px;
    margin:0 auto;
    object-fit: cover;
    /*border-radius:50%;*/
    overflow:hidden;
    padding-bottom: 5px;
}
